.dish-card {
  background: #121212;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
}

.dish-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.dish-card:hover {
  transform: translateY(-10px);
}

.dish-info {
  padding: 20px;
}

.dish-info h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.dish-info p {
  color: #FCA311;
  font-weight: bold;
}
.dish-card img {
  transition: 0.4s;
}

.dish-card:hover img {
  transform: scale(1.1);
}