.menu-page{
  background:#111;   /* dark background like homepage */
  min-height:100vh;
  padding:100px 20px;
  display:flex;
  justify-content:center;
}

/* Menu card */

.menu-container{
  background:white;
  width:100%;
  max-width:1100px;   /* wider menu */
  padding:70px;
  border-radius:10px;
  box-shadow:0 20px 40px rgba(0,0,0,0.6);
}

/* Title */

.menu-title{
  text-align:center;
}

.menu-title h1{
  font-size:38px;
  color:#FCA311;
  margin-bottom:5px;
}

.menu-title p{
  color:#666;
  font-size:16px;
}

/* Divider */

.menu-divider{
  height:2px;
  background:#eee;
  margin:40px 0;
}

/* Two columns */

.menu-columns{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:70px;
}

/* Category */

.menu-category{
  margin-bottom:35px;
}

.menu-category h2{
  font-size:20px;
  margin-bottom:15px;
  border-bottom:2px solid #ddd;
  padding-bottom:5px;
  color:#FCA311;
}

/* Items */

.menu-item{
  display:flex;
  justify-content:space-between;
  margin-bottom:12px;
  font-size:16px;
  color:#333;
}

.menu-item span:last-child{
  font-weight:bold;
  color:#000;
}

/* Hover effect */

.menu-item:hover{
  color:#FCA311;
  transform:translateX(5px);
  transition:0.2s;
}

/* Responsive */

@media(max-width:768px){

  .menu-columns{
    grid-template-columns:1fr;
  }

  .menu-container{
    padding:45px;
  }

}