*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  overflow-x:hidden;  /* 🔥 prevents horizontal scroll */
}

/* Hide scrollbar but keep scrolling */

/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none;
}

/* For IE & older Edge */
body {
  -ms-overflow-style: none;
}